In [3]:
import numpy as np
array=np.arange(0,10,1)
array

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [14]:
array.dtype='int8'
array

array([0, 0, 0, 0, 1, 0, 0, 0, 2, 0, 0, 0, 3, 0, 0, 0, 4, 0, 0, 0, 5, 0,
       0, 0, 6, 0, 0, 0, 7, 0, 0, 0, 8, 0, 0, 0, 9, 0, 0, 0], dtype=int8)

In [63]:
def sum2(x):
    y = 0
    for i in x:
        y+=i
    return y

In [64]:
%timeit sum2(x)

1.72 µs ± 22.6 ns per loop (mean ± std. dev. of 7 runs, 1000000 loops each)

In [66]:
y = sum2(x)

In [67]:
y

45

In [83]:
week=0

In [84]:
while week<=7:
    print("heheheda{}zhoula".format(week))
    week+=1

heheheda0zhoula
heheheda1zhoula
heheheda2zhoula
heheheda3zhoula
heheheda4zhoula
heheheda5zhoula
heheheda6zhoula
heheheda7zhoula

In [85]:
print("heheheda{}zhoula,我可以去找工作了".format(week-1))

heheheda7zhoula,我可以去找工作了

In [86]:
np.ones(shape=(5,5),dtype=np.int8)

array([[1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1],
       [1, 1, 1, 1, 1]], dtype=int8)

In [87]:
np.zeros(shape=(2,3,4),dtype=np.float16)

array([[[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]],

       [[0., 0., 0., 0.],
        [0., 0., 0., 0.],
        [0., 0., 0., 0.]]], dtype=float16)

In [94]:
np.full(shape=(3,5),fill_value=3.14)

array([[3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14],
       [3.14, 3.14, 3.14, 3.14, 3.14]])

In [95]:
np.eye(N=5)

array([[1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [0., 0., 0., 1., 0.],
       [0., 0., 0., 0., 1.]])

In [96]:
np.arange(3,785,82)

array([  3,  85, 167, 249, 331, 413, 495, 577, 659, 741])

In [98]:
np.linspace(0,100, num=101)#等差数列

array([  0.,   1.,   2.,   3.,   4.,   5.,   6.,   7.,   8.,   9.,  10.,
        11.,  12.,  13.,  14.,  15.,  16.,  17.,  18.,  19.,  20.,  21.,
        22.,  23.,  24.,  25.,  26.,  27.,  28.,  29.,  30.,  31.,  32.,
        33.,  34.,  35.,  36.,  37.,  38.,  39.,  40.,  41.,  42.,  43.,
        44.,  45.,  46.,  47.,  48.,  49.,  50.,  51.,  52.,  53.,  54.,
        55.,  56.,  57.,  58.,  59.,  60.,  61.,  62.,  63.,  64.,  65.,
        66.,  67.,  68.,  69.,  70.,  71.,  72.,  73.,  74.,  75.,  76.,
        77.,  78.,  79.,  80.,  81.,  82.,  83.,  84.,  85.,  86.,  87.,
        88.,  89.,  90.,  91.,  92.,  93.,  94.,  95.,  96.,  97.,  98.,
        99., 100.])

In [110]:
np.random.randint(0,100,size=(1,3,2))

array([[[40, 82],
        [88,  7],
        [70, 98]]])

In [123]:
np.random.randn(5,3)

array([[ 1.56676399,  0.19514452,  0.1200103 ],
       [-0.97147966,  1.0127219 ,  0.17186481],
       [-1.32566679,  0.63910638, -1.23474466],
       [ 2.2414537 , -0.59945806,  0.23676481],
       [ 0.10836688,  1.38051896, -0.63113674]])

In [124]:
x=np.random.normal(loc=175,scale=10,size=30).round(0)
x

array([169., 171., 165., 184., 175., 170., 186., 177., 179., 189., 202.,
       166., 187., 175., 186., 165., 174., 168., 177., 171., 175., 170.,
       158., 178., 169., 183., 171., 177., 170., 162.])

In [127]:
x.mean()

174.96666666666667

In [128]:
x.var()

82.56555555555555

In [4]:
import pandas as pd
from pandas import Series,DataFrame
import numpy as np
import tushare as ts

ModuleNotFoundError: No module named 'tushare'

In [140]:
Series(data=[1,2,3,4,5])
Series(data=np.random.randint(0,100,size=(4)))

0     7
1    81
2    28
3    69
dtype: int32

In [158]:
s1=Series(data=[1,2,3],index=['数学','英语','语文'])
s2=Series(data=[3,5,6,9,10,20],index=['无力','化学','数学','历史','地理','政治'])

In [150]:
s1.index
s1.values

array([1, 2, 3], dtype=int64)

In [154]:
s1.unique()

array([1, 2, 3], dtype=int64)

In [160]:
s=s1+s2
s

化学    NaN
历史    NaN
地理    NaN
政治    NaN
数学    7.0
无力    NaN
英语    NaN
语文    NaN
dtype: float64

In [167]:
s[s.notnull()] #数据清洗，清洗掉空值 取到合适的值

数学    7.0
dtype: float64

In [170]:
s.add(s2)

化学     NaN
历史     NaN
地理     NaN
政治     NaN
数学    13.0
无力     NaN
英语     NaN
语文     NaN
dtype: float64

In [179]:
df=DataFrame(data=np.random.randint(0,100,size=(5,6)))
df

    0   1   2   3   4   5
0  98  56  54  31  14  83
1  46   3  55  95  13  41
2  50  79  67  70  76  59
3  79  76  91  79  34   2
4  45  69  67  82  69  75

In [5]:
dic={"name":['打','的','个','人','搞','撒'],
     'salary':[423,532,2222,4144,654,52]}
df=DataFrame(data=dic,index=['a','b','c','d','e','f'])
df

  name  salary
a    打     423
b    的     532
c    个    2222
d    人    4144
e    搞     654
f    撒      52

In [230]:
af=ts.get_k_data('600333',start='1988-08-01')

In [234]:
af.tail(5)

            date  open  close  high   low   volume    code
4536  2020-01-17  5.18   5.17  5.20  5.16  18426.0  600333
4537  2020-01-20  5.17   5.14  5.17  5.09  33657.0  600333
4538  2020-01-21  5.19   5.15  5.20  5.13  27493.0  600333
4539  2020-01-22  5.17   5.17  5.19  5.09  26817.0  600333
4540  2020-01-23  5.16   5.08  5.18  5.02  39554.0  600333

In [235]:
af.dtypes

date       object
open      float64
close     float64
high      float64
low       float64
volume    float64
code       object
dtype: object

In [236]:
af['date']

0       2000-12-11
1       2000-12-12
2       2000-12-13
3       2000-12-14
4       2000-12-15
           ...
4536    2020-01-17
4537    2020-01-20
4538    2020-01-21
4539    2020-01-22
4540    2020-01-23
Name: date, Length: 4541, dtype: object

In [237]:
af['date']=pd.to_datetime(af['date'])

In [238]:
af.dtypes

date      datetime64[ns]
open             float64
close            float64
high             float64
low              float64
volume           float64
code              object
dtype: object

In [240]:
af.set_index(af['date'],inplace=True)

In [241]:
af.drop(labels='date',axis=1,inplace=True)

In [242]:
af.tail(5)

            open  close  high   low   volume    code
date
2020-01-17  5.18   5.17  5.20  5.16  18426.0  600333
2020-01-20  5.17   5.14  5.17  5.09  33657.0  600333
2020-01-21  5.19   5.15  5.20  5.13  27493.0  600333
2020-01-22  5.17   5.17  5.19  5.09  26817.0  600333
2020-01-23  5.16   5.08  5.18  5.02  39554.0  600333

In [243]:
(af['close']-af['open'])/af['open']>0.03

date
2000-12-11    False
2000-12-12    False
2000-12-13    False
2000-12-14    False
2000-12-15    False
              ...
2020-01-17    False
2020-01-20    False
2020-01-21    False
2020-01-22    False
2020-01-23    False
Length: 4541, dtype: bool

In [4]:
af.loc[(af['close']-af['open'])/af['open']>0.03].index

NameError: name 'af' is not defined

In [17]:
arr=np.random.randint(0,100,size=(5,6))
arr

array([[47,  6, 23, 65, 79, 37],
       [41, 83, 52, 59, 53, 34],
       [70, 95, 77, 36,  7, 24],
       [21, 63, 22, 64, 37, 94],
       [ 2, 25, 35, 17,  7, 18]])

In [25]:
arr[[1,2,3]]#取多列索引

array([[41, 83, 52, 59, 53, 34],
       [70, 95, 77, 36,  7, 24],
       [21, 63, 22, 64, 37, 94]])

In [26]:
arr[0:2] #左开右闭的切片索引 取1,2 行数据

array([[47,  6, 23, 65, 79, 37],
       [41, 83, 52, 59, 53, 34]])

In [27]:
arr[:,0:2]#切片索引取列，：表示索引行内容为空 逗号分隔，之后是去列

array([[47,  6],
       [41, 83],
       [70, 95],
       [21, 63],
       [ 2, 25]])

In [43]:
arr[0:2,0:2]

array([[47,  6],
       [41, 83]])

In [44]:
arr[[0,2]]#加了括号就是限定具体范围 切片指定区间，用冒号表示，具体范围比较指定用逗号

array([[47,  6, 23, 65, 79, 37],
       [70, 95, 77, 36,  7, 24]])

In [32]:
arr[:,::-1]#列翻转 行不动：：-1就是列翻转

array([[37, 79, 65, 23,  6, 47],
       [34, 53, 59, 52, 83, 41],
       [24,  7, 36, 77, 95, 70],
       [94, 37, 64, 22, 63, 21],
       [18,  7, 17, 35, 25,  2]])

In [33]:
arr[::-1,::-1]

array([[18,  7, 17, 35, 25,  2],
       [94, 37, 64, 22, 63, 21],
       [24,  7, 36, 77, 95, 70],
       [34, 53, 59, 52, 83, 41],
       [37, 79, 65, 23,  6, 47]])

In [105]:
arr.reshape((1,30))#数组变形

array([[47,  6, 23, 65, 79, 37, 41, 83, 52, 59, 53, 34, 70, 95, 77, 36,
         7, 24, 21, 63, 22, 64, 37, 94,  2, 25, 35, 17,  7, 18]])

In [106]:
arr.T

array([[47, 41, 70, 21,  2],
       [ 6, 83, 95, 63, 25],
       [23, 52, 77, 22, 35],
       [65, 59, 36, 64, 17],
       [79, 53,  7, 37,  7],
       [37, 34, 24, 94, 18]])

In [52]:
df=pd.read_excel(r"D:\notebook\test1.xlsx")
df

  订单编号  客户姓名  唯一识别码       成交时间
0   A1    张彤    101 2018-08-08
1   A2   呵呵哒    102 2018-08-09
2   A3   踩徐琨    103 2018-08-10
3   A4  dota    104 2018-08-11
4   A5   埃尔文    105 2018-08-12
5   A6   斯诺克    106 2018-08-13

In [53]:
df.loc[[0,2]]

  订单编号 客户姓名  唯一识别码       成交时间
0   A1   张彤    101 2018-08-08
2   A3  踩徐琨    103 2018-08-10

In [73]:
df.loc[[0]]# DataFrame

  订单编号 客户姓名  唯一识别码       成交时间
0   A1   张彤    101 2018-08-08

In [74]:
df.loc[0] #series

订单编号                      A1
客户姓名                      张彤
唯一识别码                    101
成交时间     2018-08-08 00:00:00
Name: 0, dtype: object

In [75]:
df.loc[:,['订单编号','唯一识别码']]#除了索引方式不同其他和iloc差不多，一个是引用索引找，一个是用坐标位置找

  订单编号  唯一识别码
0   A1    101
1   A2    102
2   A3    103
3   A4    104
4   A5    105
5   A6    106

In [78]:
np.around(arr,decimals=0)#around是四舍五入的意思?

array([[47,  6, 23, 65, 79, 37],
       [41, 83, 52, 59, 53, 34],
       [70, 95, 77, 36,  7, 24],
       [21, 63, 22, 64, 37, 94],
       [ 2, 25, 35, 17,  7, 18]])

In [82]:
np.around(arr,decimals=-1)#对个位数进行四舍五入

array([[ 50,  10,  20,  60,  80,  40],
       [ 40,  80,  50,  60,  50,  30],
       [ 70, 100,  80,  40,  10,  20],
       [ 20,  60,  20,  60,  40,  90],
       [  0,  20,  40,  20,  10,  20]])

In [87]:
np.amin(arr,axis=0)#把每一列的最小值导入

numpy.ndarray

In [88]:
np.ptp(arr,axis=1)

array([73, 49, 88, 73, 33])

In [89]:
np.median(arr,axis=1)

array([42. , 52.5, 53. , 50. , 17.5])

In [92]:
[np.median(arr,axis=1)].sid()#list 和numpy 都不能用sid 必须是series

AttributeError: 'list' object has no attribute 'sid'

In [96]:
import numpy.matlib as matlib
matlib.empty(shape=(5,6))

matrix([[ 50.,  10.,  20.,  60.,  80.,  40.],
        [ 40.,  80.,  50.,  60.,  50.,  30.],
        [ 70., 100.,  80.,  40.,  10.,  20.],
        [ 20.,  60.,  20.,  60.,  40.,  90.],
        [  0.,  20.,  40.,  20.,  10.,  20.]])

In [107]:
matlib.eye(n=5,M=6,k=0)

matrix([[1., 0., 0., 0., 0., 0.],
        [0., 1., 0., 0., 0., 0.],
        [0., 0., 1., 0., 0., 0.],
        [0., 0., 0., 1., 0., 0.],
        [0., 0., 0., 0., 1., 0.]])

In [113]:
matlib.identity(6)*2

matrix([[2., 0., 0., 0., 0., 0.],
        [0., 2., 0., 0., 0., 0.],
        [0., 0., 2., 0., 0., 0.],
        [0., 0., 0., 2., 0., 0.],
        [0., 0., 0., 0., 2., 0.],
        [0., 0., 0., 0., 0., 2.]])

In [111]:
arr

array([[47,  6, 23, 65, 79, 37],
       [41, 83, 52, 59, 53, 34],
       [70, 95, 77, 36,  7, 24],
       [21, 63, 22, 64, 37, 94],
       [ 2, 25, 35, 17,  7, 18]])

In [112]:
arr*2

array([[ 94,  12,  46, 130, 158,  74],
       [ 82, 166, 104, 118, 106,  68],
       [140, 190, 154,  72,  14,  48],
       [ 42, 126,  44, 128,  74, 188],
       [  4,  50,  70,  34,  14,  36]])

In [114]:
a=np.array([[2,1],[4,3]])
b=np.array([[1,2],[1,0]])
display(a,b)

array([[2, 1],
       [4, 3]])

array([[1, 2],
       [1, 0]])

In [115]:
a*b#矩阵必须要掌握的就是矩阵转至 和矩阵的乘法 一个就是arr.T,numpy 聚合

array([[2, 2],
       [4, 0]])

In [120]:
np.concatenate((a,b),axis=1)

array([[2, 1, 1, 2],
       [4, 3, 1, 0]])

In [3]:
import pandas as pd
df = pd.DataFrame([[4, 9]] * 3, columns=['A', 'B'])
df

   A  B
0  4  9
1  4  9
2  4  9

In [7]:
df.apply(lambda x: [1, 2], axis=1)

0    [1, 2]
1    [1, 2]
2    [1, 2]
dtype: object

In [8]:
df.apply(lambda x: x-x.mean())

     A    B
0  0.0  0.0
1  0.0  0.0
2  0.0  0.0