In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame([[1, 2], [4, 5], [7, 8]],
     index=['cobra', 'viper', 'sidewinder'],
     columns=['max_speed', 'shield'])

In [5]:
df

            max_speed  shield
cobra               1       2
viper               4       5
sidewinder          7       8

In [6]:
df.index

Index(['cobra', 'viper', 'sidewinder'], dtype='object')

In [16]:
df.index

Index(['cobra', 'viper', 'sidewinder'], dtype='object')

In [13]:
df.loc[['cobra']]

       max_speed  shield
cobra          1       2

In [9]:
df.dtypes

max_speed    int64
shield       int64
dtype: object